body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJx7cA4usIpPSnU6HjRX1H7z1k8zBxqRcMBUtu3sNJBw&s);
}

h1{
    border-style: double;
    border-width: 10px;
    border-radius: 20px;
    border-color: gold;
    padding: 5px;
}

h2{
    border-style: dashed;
    border-width: 5px;
    border-radius: 20px;
    border-color: crimson;
    padding: 5px;
}


p{
    border-style: groove;
    border-width: 10px;
    border-radius: 40px;
    border-color: chocolate;
    padding: 5px;
    width: 250px;

}


